.footercl{
background-color: #160031;
width: 100%;
height: 150px;
margin-top: 150px;
bottom: 0;

}

@media only screen and (min-width: 2500px) {
    .footercl{
        background-color: #160031;
        width: 100%;
        height: 150px;
        margin-top: 150px;
        bottom: 0;
        position: absolute;
        }
}

